@font-face {
    font-family: 'Graphik';
    src: url('./GraphikThin.otf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikThinItalic.otf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikExtralight.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikExtralightItalic.otf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikLight.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikLightItalic.otf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikRegular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikRegularItalic.otf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikMedium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikMediumItalic.otf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikSemibold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikSemiboldItalic.otf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikBold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikBoldItalic.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikBoldItalic.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikBold.otf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikBlackItalic.otf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikSuper.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('./GraphikSuperItalic.otf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
  