@import '../assets/fonts/fonts.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Graphik';
}

.header {
    background: url("../assets/images/banner.png");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.speakers-container {
    background: url('../assets/images/speakers-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.speaker-shadow {
    box-shadow: 15px 15px #F05647;
}

@media screen and (max-width: 900px) {
    .header {
        background-position: -750px 0;
    }
}

@media screen and (max-width: 600px) {
    .header {
        background-position: -600px 0;
    }
}

@media screen and (max-width: 375px) {
    .header {
        background-position: -450px 0;
    }
}